<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               [mode]="'side'"
               [opened]="sidenavOpened"
               class="sidenav">
    <div class="logo-container">
      <h2>ServiceDesk</h2>
    </div>

    <mat-nav-list>
      <a mat-list-item
         *ngFor="let item of menuItems"
         [routerLink]="item.route"
         routerLinkActive="active">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbar-spacer"></span>

      <!-- Notifications -->
      <button mat-icon-button>
        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
      </button>

      <!-- User Menu -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="user-info" *ngIf="currentUser$ | async as user">
          <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
          <div class="user-email">{{ user.email }}</div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigateTo('/settings')">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
